@mixin transform($val) {
  -moz-transform: rotate($val);
  -webkit-transform: rotate($val);
  -ms-transform: rotate($val);
  transform: rotate($val);
}

@keyframes rot {
  from {@include transform(0deg);}
  to {@include transform(360deg);}
}

@keyframes min-left {
  0% {margin-left: 0px;}
  100% {margin-left: -46px;}
}

@keyframes min-right {
  0% {margin-right: 0px;}
  100% {margin-right: -46px;}
}

@keyframes slide-left {
  0% {margin-left: 47.5%;}
  100% {margin-left: 0px;}
}

@keyframes slide-right {
  0% {margin-right: 47.5%}
  100% {margin-right: 0px;}
}

.star-left {
  position: relative;
  right: -50%;
  margin-left: -46px;
  animation-name: slide-left, min-left, rot, rot, rot, rot;
  animation-duration: 3s, 0.5s, 0.5s, 0.25s, 1s, 10s;
  animation-delay: 0s, 3s, 3.5s, 5s, 6s, 7s;
  animation-iteration-count: 1, 1, 3, 4, 1, infinite;
  animation-timing-function: ease, linear, ease, linear, ease, linear;
}

.star-right {
  position: absolute;
  right: 50%;
  margin-right: -46px;
  animation-name: slide-right, min-right, rot, rot, rot, rot;
  animation-duration: 3s, 0.5s, 0.5s, 0.25s, 1s, 10s;
  animation-delay: 0s, 3s, 3.5s, 5s, 6s, 7s;
  animation-iteration-count: 1, 1, 3, 4, 1, infinite;
  animation-timing-function: ease, linear, ease, linear, ease, linear;
}


