<div class="container-fluid">
  <div class="row">
    <div class="col-sm text-light bg-dark text-center">
      <p class="mt-2">Home</p>
    </div>
    <div class="col-sm text-light bg-dark text-center">
      <p class="mt-2">Links</p>
    </div>
    <div class="col-sm text-light bg-dark text-center">
      <p class="mt-2">Account</p>
    </div>
  </div>
</div>
<div style="background-color: #ffe0b3">
  <h3 class="text-center pt-2">Job interview</h3>
  <img class="star-left" src="{{ imageUrl }}" alt="star"><img class="star-right" src="{{ imageUrl }}" alt="star">
  <hr class="bg-dark">
</div>
<div>
  <div class="container mt-5">
    <div class="row">
      <div class="card mx-auto my-1" style="width: 18rem; background-color: #b3cccc;">
        <div class="card-body">
          <h5 class="card-title">Java</h5>
          <p class="card-text">The Java™ Programming Language is a general-purpose, concurrent, strongly typed, class-based object-oriented language. It is normally compiled to the bytecode instruction set and binary format defined in the Java Virtual Machine Specification.</p>
        </div>
      </div>
      <div class="card mx-auto my-1" style="width: 18rem; background-color: #b3cccc;">
        <div class="card-body">
          <h5 class="card-title">Python</h5>
          <p class="card-text">Python is a programming language that lets you work quickly and integrate systems more effectively.</p>
        </div>
      </div>
      <div class="card mx-auto my-1" style="width: 18rem; background-color: #b3cccc;">
        <div class="card-body">
          <h5 class="card-title">C++</h5>
          <p class="card-text">C++ is a general-purpose programming language. It has imperative, object oriented and generic programming features, while also providing facilities for low-level memory manipulation.</p>
        </div>
      </div>
    </div>
  </div>
</div>
